@import "./menu.css";

body {
  background-color: black;
  margin-top: 10rem;
}

.mainLogo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .mainLogo {
    width: 100%;
  }
}

p {
  text-wrap: balance;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 1rem;
}