body {
  background-color: black;
}

.mainLogo {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .mainLogo {
    width: 100%;
  }
}

p {
  text-wrap: balance;
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 1rem;
}

.Menu {
  display: flex;
  background-color: #152462;
  padding: 25px;
  gap: 1rem;
  justify-content: center;
  border-radius: 1.5rem;
}

.Menu a {
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: .15rem solid #FFFFFF;
  background-color: black;
  text-align: center;
  color: white;
  text-decoration: none;
}
